Source: cockpit-syncwatch
Section: net
Priority: optional
Maintainer: Helly1206
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
XB-Plugin-Section: sharing

Package: cockpit-syncwatch
Architecture: all
Depends: python3,
         syncwatch (>= 0.85),
         cockpit,
         cockpit-stdplgin (>= 0.93),
         ${misc:Depends}
Description: cockpit-syncwatch (cockpit UI for SyncWatch)
